.ingredients {
    @include flex(column, center);
    color: $whitesmoke;
    margin: 2.5vw 15vw;

    h1 {
        margin-bottom: 5vh;
    }

    &__container {
        @include flex(row, center);

        &__items {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;

            &__item {
                @include flex(column, center);
                flex-basis: 50%;
                padding: 18px;

                img {
                    width: 10vw;
                }
            }
        }

        img {
            width: 50%;
        }
    }

    &__info {
        margin: 5vh 0;
        padding: 5vh;
        @include flex(column, center);

        h2 {
            margin-bottom: 3vh;
        }

        p {
            text-align: justify;
        }
    }
}

@media (max-width: $breakpoint-laptop) {
    .ingredients {
        margin: 1vw 2vw;
        &__container {
            @include flex(column, center);
            &__items {
                margin-top: 50px;
                &__item {
                    flex-basis: 50%;

                    img {
                        width: 30%;
                    }
                }
            }
            img {
                width: 70%;
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .ingredients__title {
        display: none;
    }
}

@media (max-width: $breakpoint-mobile) {
    .ingredients {
        &__title {
            display: none;
        }
        &__container {
            margin-top: 50px;
            &__items__item {
                flex-basis: 100%;
            }
        }
    }
}
