.category {
    @include flex(column, center);
    color: $whitesmoke;
    display: flex;
    padding: 50px;

    a {
        text-decoration: none;
    }

    h1 {
        padding-bottom: 30px;
    }

    &__container {
        @include flex(row, center);
        flex-wrap: wrap;

        &__item {
            width: 30vw;
            padding: 20px;
            @include flex(column, center);

            img {
                width: 70%;
            }

            h2 {
                padding: 10px;
            }

            a {
                background-color: $black;
                border: none;
                color: $whitesmoke;
                padding: 10px;
                &:hover {
                    background-color: $white;
                    color: $black;
                    font-weight: bold;
                }
            }

            i {
                margin: 0 10px;
            }

            &:hover {
                background-color: $gray;
                border-radius: 1.5em;
            }
        }
    }
}

@media (max-width: $breakpoint-laptop) {
    .category {
        padding: 20px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .category__title{
        display: none;
    }
    .category__container__item {
        width: 40vw;
        img {
            width: 90%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .category {
        padding: 5px;
        &__container__item {
            width: 80vw;
            img {
                width: 90%;
            }
        }
    }
}
