
.category {
    @include flex(column, center);
    background-color: whitesmoke;
    display: flex;
    padding: 50px;
    a {
        text-decoration: none;
    }
    h2 {
        padding-bottom: 30px;
    }
    .category__container {
        @include flex(row, center);
        flex-wrap: wrap;
        .category__container__item {
            width: 30vw;
            padding: 20px;
            @include flex(column, center);
            img {
                width: 30%;
            }
            h3 {
                padding: 10px;
            }
            a {
                background-color: black;
                border: 1px solid black;
                color: whitesmoke;
                padding: 10px;
                border-radius: 0.5em;
                &:hover {
                    background-color: white;
                    color: black;
                    font-weight: bold;
                }
            }
            &:hover {
                background-color: gray;
                border-radius: 1.5em;
            }
        }
    }
}
