.storeNavbar {
    overflow: hidden;
    background-color: $black;
    opacity: 0.7;
    display: flex;
    justify-content: flex-end;

    a {
        float: right;
        font-size: 1.3em;
        color: $whitesmoke;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
    }

    a:hover,
    .storeNavbar__subnav:hover .storeNavbar__subnav__btn {
        font-size: 1.4em;
        font-weight: bold;
        border-bottom: 1px solid $yellow;
    }
}

.storeNavbar__subnav {
    float: right;
    overflow: hidden;

    .storeNavbar__subnav__btn {
        font-size: 1.3em;
        border: none;
        outline: none;
        color: $whitesmoke;
        padding: 20px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    &:hover .storeNavbar__subnav__content {
        @include flex(row, center);
    }
}

.storeNavbar__subnav__content {
    display: none;
    position: absolute;
    left: 0;
    background-color: $black;
    width: 100%;
    height: 10vh;

    a {
        color: $whitesmoke;
        text-decoration: none;
        border: 1px solid $white;
        margin-left: 15px;
        border-radius: 1.5em;
        transition: padding 0.7s;
    }

    a:hover {
        color: $white;
        font-weight: bold;
        border: 3px solid $yellow;
        padding: 23px;
    }
}
