@mixin flex($orientation, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $orientation;
}


@mixin random($size){
    width: random($size)+px;
    width: random($size)+px;
}